<!-- Footer -->
<div class="site-footer">
<div class="footer-dots"></div> 
<div class="container">
<div class="row">
<div class="col-lg-4">
<div class="widget">
<div>
<a href="/" class="logo m-0 float-left"><img srcset="/assets/img/logo.png 5x"><span class="text-primary"></span></a>
</div>
<br><br>

</div> 
<div class="widget">
<ul class="list-unstyled social">
<li><a href="https://www.instagram.com/s_entialtechnologies/" target="_blank"><span class="icon-instagram"></span></a></li>
</ul>
</div> 
</div>

{% assign home_page = '/' %}
{% if home_page == page.url %}
 
<div class="col-lg-2 ml-auto">
<div class="widget">
<h3>What we do</h3>
<ul class="list-unstyled float-left links">
<li><a href="#advantage-section" class="smoothscroll">S-Ential Advantage</a></li>
<li><a href="#features-section" class="smoothscroll">Products</a></li>
<li><a href="#pricing-section" class="smoothscroll">Pricing</a></li>
</ul>
</div> 
</div> 
<div class="col-lg-2">
<div class="widget">
<h3>Company</h3>
<ul class="list-unstyled float-left links">
<li><a href="#about-section" class="smoothscroll">About</a></li>
<li><a href="#contact-section" class="smoothscroll">Contact</a></li>
<li><a href="#articles-section" class="smoothscroll">Latest Articles</a></li>
</ul>
</div> 
</div>

{% else %} 

<div class="col-lg-2 ml-auto">
<div class="widget">
<h3>What we do</h3>
<ul class="list-unstyled float-left links">
<li><a href="/#advantage-section" class="smoothscroll">S-Ential Advantage</a></li>
<li><a href="/#features-section" class="smoothscroll">Products</a></li>
<li><a href="/#pricing-section" class="smoothscroll">Pricing</a></li>
</ul>
</div> 
</div> 
<div class="col-lg-2">
<div class="widget">
<h3>Company</h3>
<ul class="list-unstyled float-left links">
<li><a href="/#about-section" class="smoothscroll">About</a></li>
<li><a href="/#contact-section" class="smoothscroll">Contact</a></li>
<li><a href="/#articles-section" class="smoothscroll">Latest Articles</a></li>
</ul>
</div> 
</div>

{% endif %}
 
<div class="col-lg-3">
<div class="widget">
<h3>Legal</h3>
<ul class="list-unstyled links mb-4">
<li><a href="/terms_and_conditions">Terms & Conditions</a></li>
<li><a href="/privacy_policy">Privacy Policy</a></li>
</ul>
</div> 
</div> 
</div> 
<div class="row mt-5">
<div class="col-12 text-center">
<p>

&copy;<script data-cfasync="false" src="#"></script><script>document.write(new Date().getFullYear());</script> S-Ential Technologies
</p>
</div>
</div>
</div> 
</div> 

