<head>
 <meta charset="utf-8">
 <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
 <meta name="description" content="{{ page.description }}">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no; maximum-scale=1.0; user-scalable=0;">
 
	<!-- Styles -->
 <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">		

 <link href="{{ "/assets/img/icons/stech_logo_blue_half.png" | prepend: site.baseurl }}" rel="icon">

 <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | prepend: site.baseurl }}">
 <link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | prepend: site.baseurl }}">
 <link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | prepend: site.baseurl }}"> 
 <link rel="stylesheet" href="{{ "/assets/css/jquery.fancybox.min.css" | prepend: site.baseurl }}"> 
 <link rel="stylesheet" href="{{ "/assets/fonts/icomoon/style.css" | prepend: site.baseurl }}"> 
 <link rel="stylesheet" href="{{ "/assets/fonts/flaticon/font/flaticon.css" | prepend: site.baseurl }}"> 
 <link rel="stylesheet" href="{{ "/assets/css/aos.css" | prepend: site.baseurl }}"> 
 <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
                
{% seo title=false %}

</head>
