<!DOCTYPE html>
<!-- S-Ential Technologies website copyright  2021 -->
<html lang="en">
                <!-- Head module inserted below -->
        {% include head.html %}
    
  <body>
   <main>
	  
		<!-- Header module inserted below -->
        {% include header.html %}
	  
		<!-- Content -->
        {{ content }}
		
  </main>
                <!-- footer module inserted below -->
        {% include footer.html %} 
        
                <!-- Scripts module inserted below -->
        {% include javascripts.html %}            
      
  </body>
</html>
